/* App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 200px;
}

.player-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.content-wrapper {
  margin-top: 84px; /* Adjust the spacing as needed */
  width: 100%;
  max-width: 1200px; /* Adjust the max-width as needed */
  padding: 20px; /* Optional: Adds padding inside the container */
  box-sizing: border-box; /* Ensures padding is included in the total width */
}